html, body {
  margin: 0;
}

body {
  overflow: auto;
  font-family: sans-serif;
}

#gui {
  width: 400px;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EEE;
}

label {
  display: inline-block;
  width: 5em;
  font-style: italic;
}

input {
  width: 5em;
  text-align: right;
}

.delete-segment-button {
  position: absolute;
  left: 0;
}

.create-segment-buttons {
  text-align: right;
}

.title {
  font-weight: bold;
  position: relative;
  text-align: center;
}

.segment {
  position: relative;
  background-color: #FDD;
}
.segment:nth-child(2n) {
  background-color: #DFD;
}